<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>check password</title>
</head>
<body>
    <form th:method="POST" th:action="@{/person/{id}/changePassword/checkPassword (id=${userId})}" th:object="${person}">
    <div  th:if="${param.error}" style="color: red;">Неправильный пароль!</div>
    <label for="password">Введите пароль от аккаунта</label>
    <input type="password" id="password" th:field="*{password}">
    <br>
    <input type="submit" value="Войти">
    </form>
</body>
</html>