<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form method="POST" action="/auth/register" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <label for="username">Введите имя пользователя:</label>
        <input type="text" id="username" name="username" >
        <br>
        <label for="password">Введите пароль</label>
        <input type="password" id="password" name="password">
        <br>
        <label for="image">Введите изображение пользователя: </label>
        <input type="file" name="image" id="image" >
        <br>
        <input type="submit" value="Зарегестрироваться">
        <a href="/auth/login">Аутентификация</a>
        <div th:if="${usernameError}" style="color: red;">Такой пользователь уже существует!</div>
        <div th:if="${imageError}" style="color: red;">Добавьте изображение!</div>
    </form>
</body>
</html>