.main{
  width: 640px;
  margin-left: 520px;
  margin-top: 250px;
}

.labels{
  margin-right: 20px;
  font-size: 21px;
}

.inputs{
  width: 60%;
  height: 20px;
  border: 2px solid black;
  border-radius: 12px;
  margin-bottom: 15px;
}

.textareas{
  width: 60%;
  height: 120px;
  margin-left: 200px;
  margin-top: -20px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  margin-bottom: 15px;
}

#textarea-label{
  font-size: 21px;
}

.back{
  position: absolute;
  top: 15px;
  right: 20px;
}

#back-button{
  width: 75px;
  border: 2px solid black;
  border-radius: 12px;
}

#add-new-item{
  margin-top: 7px;
  margin-left: 525px;
  border: 1px solid black;
  border-radius: 10px;
  height: 21px;
}
