<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин</title>
  <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
  <div class="main">
    <div class="category-scroll">
      <h2 id="category-text">Категория</h2>
      <form th:method="POST" th:action="@{/shop/redirect-to-categories}">
      <label for="category-select" id="category-select-label">Выберите категорию:</label>
      <br>
      <select id="category-select" th:object="${category}" th:field="*{id}">
        <option class="category-select-options" th:each="category: ${categories}" th:text="${category.getCategoryName()}" th:value="${category.getId()}"></option>
              </select>
      <input type="submit" value="Выбрать" id="sumbit-select">
    </form>
    </div>
    <div th:if="${items.size() != 0}" class="items" style="margin-left: 560px;">
      <div class="item" th:each="item: ${items}">
        <div class="img-div">
          <img th:src="@{/images/{imageName} (imageName=${item.getImageName()})}" alt=" че то не то" class="item-img" style="border: 1px solid black; border-radius: 10px;">
        </div>
        <div class="item-information-block">
        <a th:href="@{/shop/item/{id} (id=${item.getId()})}" class="item-title" th:text="${item.getItemName()}" style="font-size: 21px; text-decoration: none; color: #000"/>
        <div class="item-description-div">
          <p class="item-description" th:text="${item.getItemDescription()}"/>
        </div>
        <p class="price" th:text="${item.getPrice()}" style="margin-left: 270px; font-size: 21px; margin-top: -30px;"></p>
        <a class="item-shop-name" th:text="${item.getShop().getShopName()}" th:href="@{/shop/{shopId} (shopId=${item.getShop().getId()})}" style="text-decoration: none; color: #000;"/>
        </div>
      </div>
    </div>
    <div class="search-items">
      <form th:method="POST" th:action="@{/shop/search}">
        <input type="text" name="search-text" placeholder="   Найти товар" id="search-item">
        <input type="submit" value="Искать" id="search-item-button">
      </form>
    </div>
  </div>

</body>
</html>
